@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url('../pics/background.jpg');
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 70px;
    border-top: 2px dashed rgba( 0,0,0,.2) ;
    border-bottom: 2px dashed rgba( 0,0,0,.2) ; 
    padding: 20px 0;
    margin: 40px 0;
    background-color: rgba(255, 255, 255, .7);
    color: seagreen;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
display: flex;
/*
flex-direction: row;
flex-direction: wrap;*/
flex-flow: row nowrap;
}
nav{
    background: url('../pics/bg-black.jpg')
}
nav ul{
    margin: 0;
    list-style: none;
    padding: 30px 10px 10px 10px;
}
nav li{
    border-bottom: 1px dashed rgba(255, 255, 255, .3);
}
nav a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}
nav a:hover{
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
}